.asd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  min-height: 12vh;
  background-color: white;
}

.company {
  font-weight: bold;
  color: #152d7c;
}

.tagline {
  color: #80b5fcff;
  line-height: 10px;
  font-size: 1.2rem;
}
.user {
  color: #152d7c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.welcome {
  margin-left: 5px;
}
.user h2 {
  font-weight: bold;
  font-size: 25px;
}
.user i {
  font-size: 30px;
  margin-bottom: 5px;
}
