<table class="table">
    <thead>
        <tr>
        <!-- To Do: make columns iterate over days in week-->
        <th scope="col">Name </th>
        <th *ngFor="let day of daysOfWeek">{{ day.title }}, {{ day.date }}</th>
        <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
          <th scope="row">{{ employee.name }}</th>
          <td>{{ employee.hrSun }}</td>
          <td>{{ employee.hrMon }}</td>
          <td>{{ employee.hrTue }}</td>
          <td>{{ employee.hrWed }}</td>
          <td>{{ employee.hrThu }}</td>
          <td>{{ employee.hrFri }}</td>
          <td>{{ employee.hrSat }}</td>
          <td>0</td>
        </tr>
    </tbody>
</table>

