<table class="table">
    <thead>
        <tr>
        <!-- To Do: make columns iterate over days in week-->
        <th scope="col">Name</th>
        <th *ngFor="let day of daysOfWeek">{{ day.title }}, {{ day.date }}</th>
        <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
          <th scope="row">{{ employee.name }}</th>
          <td>{{ employee.hoursSun }}</td>
          <td>{{ employee.hoursMon }}</td>
          <td>{{ employee.hoursTue }}</td>
          <td>{{ employee.hoursWed }}</td>
          <td>{{ employee.hoursThu }}</td>
          <td>{{ employee.hoursFri }}</td>
          <td>{{ employee.hoursSat }}</td>
          <td>0</td>
        </tr>
    </tbody>
</table>

