<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <span><b>Employee Name:</b> </span><br />
        <span><b>ID:</b> </span>
      </div>
      <div class="col">
        <span><b>Pay Period:</b> 4/16/22 - 4/30/22 <i class="bi bi-calendar"></i></span>
      </div>
    </div>
  </div>

  <div id="table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Day</th>
          <th scope="col">Time In</th>
          <th scope="col">Time Out</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
      
      </tbody>
    </table>
  </div>

  <div style="margin-right:50px;" class="d-flex justify-content-end">
    <div style="margin-top: 50px;">
      <span><b>Total Hours</b> &nbsp; &nbsp; &nbsp; &nbsp; 15:00</span><br />
      <span><b>Rate</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp;12.00</span><br />
      <p style="letter-spacing: -5px;">_____________________________</p>
      <span><b>Total Pay</b> &nbsp; &nbsp; &nbsp; &nbsp;$180.00</span><br />
    </div>
  </div>

  <app-timestamp></app-timestamp>
</body>
