<body>

<div class="container">
    <div class="row">
        <div class="col">
            <span><b>Employee Name:</b> John Doe</span><br />
            <span><b>ID:</b> 123</span>
        </div>
        <div class="col">
            <span><b>Pay Period:</b> 4/1/22 - 4/15/22</span>
        </div>
    </div>
</div>

<div id="table">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Day</th>
            <th scope="col">Time In</th>
            <th scope="col">Time Out</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>4/13/2022</td>
            <td>Wednesday</td>
            <td>09:00</td>
            <td>17:00</td>
            <td>8</td>
          </tr>
        </tbody>
    </table>
</div>

<!-- <div class="d-flex justify-content-end">
    <div>
        <span><b>Total Hours</b> 15:00</span><br />
        <span><b>Rate</b> 12.00</span><br />
        <span><b>Total Pay</b> $180.00</span><br />  
    </div>     
</div> -->


<!-- <app-timestamp></app-timestamp> -->


