<div class="profile-header">
  <h1>Employee Profiles</h1>
</div>
<div class="employee-profile">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">001</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>123-456-7890</td>
        <td>mark@dns.com</td>
        <td>4400 University Dr, Fairfax, VA 22030</td>
      </tr>
      <tr>
        <th scope="row">002</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>123-456-7890</td>
        <td>jacob@dns.com</td>
        <td>4400 University Dr, Fairfax, VA 22030</td>
      </tr>
      <tr>
        <th scope="row">003</th>
        <td colspan="2">Larry the Bird</td>
        <td>123-456-7890</td>
        <td>larry@dns.com</td>
        <td>4400 University Dr, Fairfax, VA 22030</td>
      </tr>
    </tbody>
  </table>
  <app-dbtest></app-dbtest>
</div>
