div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
div button {
  margin: 0 25px;
  padding: 10px
}

div span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.toolbar {
  min-height: 10vh;
  font-size: 20px;
}
.single {
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-items {
  width: 55%;
  justify-content: space-between;
}
#date-selector {
  background-color: #80b5fcff;
  padding: 10px;
}

button {
  background-color: inherit;
  border: none;
  border-radius: 50px;

  color: white;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #80b5fcff;
}

i {
  margin-right: 10px;
}

.datepicker {
  margin-right: 10px;
}

input[type=date] {
  background-color:white;
  border: none;
  margin-right: 20px;
}

input[type=submit] {
  background-color: inherit;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-right: 20px;
}

input[type=submit]:hover {
  background-color: #80b5fcff;
  padding: 20px 0px;
}
/* button {
  background-color: inherit;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.container {
  display: inline;
  min-height: 10vh;
  font-size: 20px;
}



.payroll {
  display: flex;
}

#date-selector {
  background-color: #80b5fcff;
  padding: 10px;
}

.profiles {
  display: inline;
  padding: 30px;
}

#add-employee:hover {
  background-color: rgb(126, 175, 239);
} */
