.toolbarTitle {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
h2 {
  font-weight: bold;
  font-size: 22px;
}
h4 {
  font-weight: 600;
  font-size: 15px;
}
button {
  background-color: rgb(91, 154, 237);
  border: none;
  height: 30px;
  padding: 0 12px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}
button:hover {
  background-color: #2449c3;
}
/** Payroll styling **/
.employeeNum {
  display: flex;
  justify-content: center;
  align-items: center;
}
.employeeNum input {
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 15px;
  height: 30px;
  padding: 12px;
}
.employeeNum button {
  background-color: rgb(91, 154, 237);
  border: none;
  height: 30px;
  padding: 0 12px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.employeeNum button:hover {
  background-color: #2449c3;
}

/** Profiles **/
#add-employee i,
#delete-employee i,
#profiles i {
  margin-right: 5px;
}
