<div class="toolbar">

  <div class="datepicker" *ngIf="hasRoute('timesheet/daily-view')">
    <button class="fw-bold" routerLink="timesheet/weekly-view">Daily View</button>
    <span><input type="date" class="form-control" (change)="SendDataonChange($event)"
        autocomplete="off" /><input type="submit" (click)="setDate()"/></span>
  </div>

  <div class="datepicker" *ngIf="hasRoute('timesheet/weekly-view')">
    <button class="fw-bold" routerLink="timesheet/daily-view">Weekly View</button>
    <span><input type="date" (change)="SendDataonChange($event)"
        autocomplete="off" /><input type="submit" (click)="setDate()"/></span>
  </div>

  <!-- First Payroll Page-->

  <div *ngIf="hasRoute('payroll')" class="single">
    <span>
        Employee ID
    <input
        type="text"
    />

    </span>
    <button routerLink="employee" id="payroll-employee">
      Submit
    </button>
    <span class="fw-bold payroll">Payroll View</span>
  </div>

  <!-- Second Payroll Page-->

  <div *ngIf="hasRoute('employee')" class="single">
    <span>
        Employee ID
    <input
        type="text"
    />

    </span>
    <button routerLink="employee2" id="payroll-employee2">
      Submit
    </button>
    <span class="fw-bold payroll">Payroll View</span>
  </div>

  <!-- Third Payroll Page-->

  <div *ngIf="hasRoute('employee2')" class="single">
    <span class="fw-bold payroll">Payroll View</span>
  </div>


  <div *ngIf="hasRoute('profiles')">
    <button routerLink="add-employee" id="add-employee">
      <i class="bi bi-plus"></i>Add Employee
    </button>
    <h2 class="fw-bold">Employee Profiles View</h2>

    <button routerLink="delete-employee" id="delete-employee">
      <i class="bi bi-trash3"></i>Delete Employee
    </button>
  </div>

  <div *ngIf="hasRoute('add-employee')" class="toolbarTitle two-items">
    <h2>Add Employee Form</h2>
    <button routerLink="profiles" id="profiles">
      <i class="bi bi-arrow-return-left"></i>Return to Profiles
    </button>
  </div>

  <div *ngIf="hasRoute('delete-employee')" class="toolbarTitle two-items">
    <h2>Delete Employee</h2>
    <button routerLink="profiles" id="profiles">
      <i class="bi bi-arrow-return-left"></i>Return to Profiles
    </button>
  </div>
</div>
