<div class="toolbar">
  
  <div *ngIf="hasRoute('payroll')" class="two-items toolbarTitle">
    <button class="fake">victoria's lazy styling :)</button>
    <h2 class="payroll">Payroll View</h2>
    <div class="employeeNum">
      <input type="text" placeholder="Enter employee number" />
      <button routerLink="payroll-employee" id="payroll-employee">
        Submit
      </button>
    </div>
    <!--
        (change)="SendDataonChange($event)" 
        autocomplete="off" /><input type="submit" (click)="setEmployeeID()"
      -->
  </div>

  <div *ngIf="hasRoute('timesheet/weekly-view')" class="toolbarTitle">
    <button id="view-title" routerLink="timesheet/daily-view">Switch to Daily</button>
    <h2 class="payroll-view">Weekly View</h2>
    <span class="timesheet-date employeeNum">
      <input type="date" (change)="SendDataonChange($event)" autocomplete="off"/>
      <button (click)="setDate()">Submit</button>
    </span>
  </div>

  <div *ngIf="hasRoute('timesheet/daily-view')" class="toolbarTitle">
    <button id="view-title" routerLink="timesheet/weekly-view">Switch to Weekly</button>
    <h2 class="payroll-view">Daily View</h2>
        <span class="timesheet-date employeeNum">
      <input type="date" (change)="SendDataonChange($event)" autocomplete="off"/>
      <button (click)="setDate()">Submit</button>
    </span>
  </div>

  <div *ngIf="hasRoute('profiles')" class="toolbarTitle">
    <button routerLink="add-employee" id="add-employee">
      <i class="bi bi-plus"></i>Add Employee
    </button>
    <h2 class="fw-bold">Employee Profiles View</h2>


    <button routerLink="delete-employee" id="delete-employee">
      <i class="bi bi-trash3"></i>Delete Employee
    </button>
  </div>

  <div *ngIf="hasRoute('add-employee')" class="toolbarTitle two-items">
    <h2>Employee Profiles View</h2>
    <button routerLink="profiles" id="profiles">
      <i class="bi bi-arrow-return-left"></i>Return to Profiles
    </button>
  </div>

  <div *ngIf="hasRoute('delete-employee')" class="toolbarTitle two-items">
    <h2>Employee Profiles View</h2>
    <button routerLink="profiles" id="profiles">
      <i class="bi bi-arrow-return-left"></i>Return to Profiles
    </button>
  </div>

  <div *ngIf="hasRoute('qr-scan')" class="toolbarTitle" style="  justify-content: center;">
    <h2>QR Clock-In Form</h2>
  </div>
</div>
