<body>
  <div class="employee-profile">
    <table class="table">
      <thead>
        <tr>
          <!-- To Do: make columns iterate over days in week-->
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Sun, 4/10</th>
          <th scope="col">Mon, 4/11</th>
          <th scope="col">Tue, 4/12</th>
          <th scope="col">Wed, 4/13</th>
          <th scope="col">Thu, 4/14</th>
          <th scope="col">Fri, 4/15</th>
          <th scope="col">Sat, 4/16</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataList">
          <th scope="row">{{data.employeeId}}</th>
          <td>{{data.employeeLname}}, {{data.employeeFname}}</td>
          <td>8</td>
          <td>8</td>
          <td>8</td>
          <td>8</td>
          <td>8</td>
          <td>8</td>
          <td>8</td>
          <td>8</td>

          </tr>
      </tbody>
    </table>
  </div>
  </body>