.left-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #152d7c;
  color: white;
  padding: 20px;
  min-height: 87vh;
  width: 300px;
}

i {
  font-size: 50px;
}

.payroll,
.timesheet,
.profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
