<nav class="left-navbar">
  <button routerLink="payroll">
    <i class="bi bi-cash-coin"></i>
    <h2>PAYROLL</h2>
  </button>

  <button routerLink="timesheet" class="nav-button">
    <i class="bi bi-calendar-event"></i>
    <h2>TIMESHEETS</h2>
  </button>

  <button routerLink="profiles">
    <i class="bi bi-person-lines-fill"></i>
    <h2>PROFILES</h2>
  </button>

  <amplify-authenticator>
    <ng-template amplifySlot="authenticated" let-signOut="signOut">
      <button (click)="signOut()">
        <i class="bi bi-power"></i>
        <h2>SIGN OUT</h2>
      </button>
    </ng-template>
  </amplify-authenticator>
</nav>
