nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem 0;
}

i {
  font-size: 30px;
}

button {
  background-color: #152d7c;
  cursor: pointer;
  border: none;
  color: white;
  padding: 3rem 0;
}

.dsbutton:hover,
button:hover {
  background-color: #495ea2;
  color: white;
  width: 100%;
  padding: 3rem 0;
}

h2 {
  font-size: 25px;
}
