<body>
<div class="left-navbar">
  <button routerLink="payroll" class="nav-button">
    <i class="bi bi-cash-coin"></i>
    <h2>PAYROLL</h2>
  </button>

  <button routerLink="timesheet" class="nav-button">
    <i class="bi bi-calendar-event"></i>
    <h2>TIMESHEETS</h2>
  </button>

  <button routerLink="profiles" class="nav-button">
    <i class="bi bi-person-lines-fill"></i>
    <h2>PROFILES</h2>
  </button>

  <button class="nav-button">
    <i class="bi bi-power"></i>
    <!--<h2>LOGOUT</h2>-->
    <amplify-authenticator>
      <ng-template
        amplifySlot="authenticated"
        let-user="user"
        let-signOut="signOut"
      >
        <button (click)="signOut()">SIGN OUT</button>
      </ng-template>
    </amplify-authenticator>
  </button>
</div>
</body>