<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 left-nav nopadding">
      <app-left-navbar></app-left-navbar>
    </div>
    <div class="col-md-10 nopadding">
      <div class="toolbar">
        <app-toolbar></app-toolbar>
        <div class="main-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-md-10">
      <div class="toolbar">
        
        <div class="row main-container">
          
        </div>
      </div> -->
<!-- <div class="col-md-10 main-container"> -->
<!-- <app-profiles></app-profiles> -->
<!-- <app-payroll></app-payroll> -->
<!-- <app-timesheet></app-timesheet> -->

<!-- </div> -->
