<div class="container-fluid nopadding">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row nopadding">
    <div class="col-md-2 nopadding">
      <app-left-navbar></app-left-navbar>
    </div>
    <div class="col-md-10 nopadding">
      <div class="profile-header">
        <div class="date-nav" style="float:right">Employee Profiles</div>  
      </div>
      <div class="main-container">
        <!-- <app-profiles></app-profiles> -->
        <!-- <app-payroll></app-payroll> -->
        <!-- <app-timesheet></app-timesheet> -->
      </div>
    </div>
  </div>
</div>
