<body>
    <div class="timesheetInfo">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Employee ID <button><i class="bi bi-caret-down-fill"></i></button></th>
            <th scope="col">Name <button><i class="bi bi-caret-down-fill"></i></button></th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataList">
            <th scope="row">{{data.employeeId}}</th>
            <td>{{data.employeeLname}}, {{data.employeeFname}}</td>
            <td>{{data.monday}}</td>
            <td>{{data.tuesday}}</td>
            <td>{{data.wednesday}}</td>
            <td>{{data.thursday}}</td>
            <td>{{data.friday}}</td>
            <td>{{data.saturday}}</td>
            <td>{{data.sunday}}</td>
            </tr>
        </tbody>
      </table>
    </div>
    </body>