<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <span><b>Employee Name:</b> Erin Hansen</span><br />
        <span><b>ID:</b> 103</span>
      </div>
      <div class="col">
        <span><b>Pay Period:</b> 4/15/22 - 4/30/22 <i class="bi bi-calendar"></i></span>
      </div>
    </div>
  </div>

  <div id="table">
    <table class="table payroll-table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Day</th>
          <th scope="col">Time In</th>
          <th scope="col">Time Out</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>4/21/2022</td>
          <td>Thursday</td>
          <td>09:00</td>
          <td>17:00</td>
          <td>8 hours</td>
        </tr>
        <tr>
          <td>4/22/2022</td>
          <td>Friday</td>
          <td>09:00</td>
          <td>17:00</td>
          <td>8 hours</td>
        </tr>
        <tr>
          <td>4/23/2022</td>
          <td>Saturday</td>
          <td>09:00</td>
          <td>17:00</td>
          <td>8 hours</td>
        </tr>
        <tr>
          <td>4/25/2022</td>
          <td>Monday</td>
          <td>09:00</td>
          <td>17:00</td>
          <td>8 hours</td>
        </tr>
        <tr>
          <td>4/27/2022</td>
          <td>Wednesday</td>
          <td>14:00</td>
          <td>17:30</td>
          <td>3.5 hours</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="margin-right:50px;" class="d-flex justify-content-end">
    <div style="margin-top: 25px;">
      <span><b>Total Hours</b> &nbsp; &nbsp; &nbsp; &nbsp; 35:30</span><br />
      <span><b>Rate</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; 12.00</span><br />
      <p style="letter-spacing: -5px;">_____________________________</p>
      <span><b>Total Pay</b> &nbsp; &nbsp; &nbsp; &nbsp;$426.00</span><br />
    </div>
  </div>

  <app-timestamp></app-timestamp>
</body>
