<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <span><b>Employee Name:</b> Timothy Tim</span><br />
        <span><b>ID:</b> 102</span>
      </div>
      <div class="col">
        <span><b>Pay Period:</b> 4/15/22 - 4/30/22</span>
      </div>
    </div>
  </div>

  <div id="table">
    <table class="table payroll-table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Day</th>
          <th scope="col">Time In</th>
          <th scope="col">Time Out</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>4/18/2022</td>
          <td>Tuesday</td>
          <td>8:00AM</td>
          <td>4:00pm</td>
          <td>8 hours</td>
        </tr>
        <tr>
          <td>4/19/2022</td>
          <td>Wednesday</td>
          <td>9:00AM</td>
          <td>5:00pm</td>
          <td>8 hours</td>
        </tr>
        <tr>
          <td>4/20/2022</td>
          <td>Thursday</td>
          <td>10:00AM</td>
          <td>6:00pm</td>
          <td>8 hours</td>
        </tr>
        <tr>
          <td>4/21/2022</td>
          <td>Monday</td>
          <td>6:00AM</td>
          <td>2:00pm</td>
          <td>8 hours</td>
        </tr>
        <tr>
          <td>4/22/2022</td>
          <td>Friday</td>
          <td>8:00AM</td>
          <td>4:00pm</td>
          <td>8 hours</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-end">
    <div>
      <span><b>Total Hours</b> 40:00</span><br />
      <span><b>Rate</b> 12.00</span><br />
      <span><b>Total Pay</b> $480.00</span><br />
    </div>
  </div>

  <app-timestamp></app-timestamp>
</body>
