/* You can add global styles to this file, and also import other style files */
/* Bootstrap icons */
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* GLOBAL STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
