    body {
        height: 100%;
    }

    button {
    background: none;
    color: inherit;
    border: none;
    }

    .profile-header {
    background-color: #93c1fe;
    color: white;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .employee-profile {
        background-color: #f5fafd;
      }
      

 
    